{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% trans "blucab - Delete Cabinet" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{% trans "Delete Cabinet" %}</h1>

{% if user.is_authenticated %}
    {% with next_val=request.POST.next|default:request.META.HTTP_REFERER %}
        {% load static %}
        <div>{% trans "Let's delete a cabinet" %} {{ user.get_username }}!</div>
        <div>{% trans "The selected cabinet will be permanently deleted and removed from your movies (movies itself will not be removed)." %}</div>
        <br>
        <div class="card" style="max-width: 28rem;">
            <div class="card-body">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" name="next" value="{{ next_val }}">
                    <button type="submit" class="btn btn-danger mt-3">{% trans "Delete Cabinet" %}</button>
                </form>
            </div>
        </div>
        {% if next_val %}
            <br>
            <a href="{{ next_val }}" class="btn btn-light" role="button">{% trans "Back" %}</a>
            <br>
        {% else %}
            <br>
            <a href="{% url 'settings' %}" class="btn btn-light" role="button">{% trans "Back" %}</a>
            <br>
        {% endif %}
    {% endwith %}
{% else %}
    <div>{% trans "Welcome!" %}</div>
    <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
{% endif %}

{% endblock %}
