{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% trans "blucab - Add Cabinet" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{% trans "Add Cabinet" %}</h1>

{% if user.is_authenticated %}
    {% load static %}
    <div>{% trans "Let's add a cabinet" %} {{ user.get_username }}!</div>
    <br>
    <div class="card" style="max-width: 28rem;">
        <div class="card-body">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-success">{% trans "Add" %}</button>
            </form>
        </div>
    </div>
{% else %}
    <div>{% trans "Welcome!" %}</div>
    <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
{% endif %}

{% endblock %}
