{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% trans "blucab - User Settings" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{% trans "User Settings" %}</h1>

{% if user.is_authenticated %}
    <div>
        {% blocktrans with username=user.get_username trimmed %}
            Let's check your settings {{ username }}!
        {% endblocktrans %}
    </div>
    <br>
    
    <div class="card" style="max-width: 28rem;">
        <div class="card-header">
            {% trans "General Settings" %}
        </div>
        <div class="card-body">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            </form>
        </div>
    </div>

    <br>
    <div class="card" style="max-width: 28rem;">
        <div class="card-header">
            {% trans "Import/Export" %}
        </div>
        <div class="card-body">
            <a href="{% url 'import' %}" class="btn btn-outline-success" role="button">{% trans "Import Movies" %}</a>
            <br><br>
            <a href="{% url 'export' %}" class="btn btn-success" role="button" data-bs-toggle="tooltip" data-placement="top" title="{% trans "Export your Movies in blucab format" %}">{% trans "Export" %}</a>
            ({% trans "Last export" %}: {{ usersettings.last_export }})
        </div>
    </div>

    <br>
    <div class="card" style="max-width: 28rem;">
        <div class="card-header">
            {% trans "Cabinet Settings" %}
        </div>
        <div class="card-body">
            <a href="{% url 'cabinet_add' %}" class="btn btn-outline-success" role="button">{% trans "Add Cabinet" %}</a>
            <br><br>
            <a href="{% url 'cabinet_delete' %}" class="btn btn-outline-danger" role="button">{% trans "Delete Cabinet" %}</a>
        </div>
    </div>

    <br>
    <div class="card" style="max-width: 28rem;">
        <div class="card-header">
            {% trans "Account Settings" %}
        </div>
        <div class="card-body">
            <a href="{% url 'change_password' %}" class="btn btn-outline-success" role="button">{% trans "Change Password" %}</a>
            <br><br>
            <a href="{% url 'change_email' %}" class="btn btn-outline-success" role="button">{% trans "Change Email" %}</a>
            <br><br>
            <a href="{% url 'delete_user' %}" class="btn btn-outline-danger" role="button">{% trans "Delete Account" %}</a>
        </div>
    </div>

{% else %}
    <div>{% trans "Welcome!" %}</div>
    <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
{% endif %}

{% endblock %}
