{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% trans "blucab - Movie Settings" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{{movie.title_clean}}</h1>

{% if user.is_authenticated %}
    {% load static %}
    <div>{% trans "Let's modify the movie!" %}</div>
    <br>
    <div>{% trans "Picture" %}</div>
    {% if movie.picture_available %}
        <img src="{% get_static_prefix %}main/cover/{{movie.ean}}/cover.jpg" class="card-img-top" alt="Picture of the cover", style="width: 10rem;">
    {% else %}
        <img src="{% get_static_prefix %}main/dummy.jpg" class="card-img-top" alt="Picture of the cover", style="width: 10rem;">
    {% endif %}
    <br><br>
    <div class="card" style="max-width: 28rem;">
        <div class="card-body">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                
                {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}">
                {% endif %}
                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
    {% if next_url %}
        <br>
        <a href="{{ next_url }}" class="btn btn-light" role="button">{% trans "Back" %}</a>
        <br>
    {% else %}
        <br>
        <a href="{% url 'view' %}" class="btn btn-light" role="button">{% trans "Back" %}</a>
        <br>
    {% endif %}
{% else %}
    <div>{% trans "Welcome!" %}</div>
    <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
{% endif %}

{% endblock %}
