{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="gallery">
            {% for mu in user.movieuserlist.all %}
                <div class="col-sm">
                        <div class="card" style="width: 10rem;">
                        {% load static %}
                        <div class="overlay_div" id="pictureOverlayIcons">
                            <span data-toggle="modal" data-target="#e{{mu.id}}ModalLong">
                                {% if mu.movie.picture_available %}
                                    <img src="{% get_static_prefix %}main/cover/{{mu.movie.ean}}.jpg" class="card-img-top" alt="Picture of the cover" data-toggle="tooltip" data-placement="top" title="{{mu.movie.title_clean}}">
                                {% else %}
                                    <img src="{% get_static_prefix %}main/cover/dummy.jpg" class="card-img-top" alt="Cover dummy" data-toggle="tooltip" data-placement="top" title="{{mu.movie.title_clean}}">
                                {% endif %}

                                {% if usersettings.show_view_icon_new %}
                                    {% load days_since %}
                                    {% if mu.date_added|days_since <= usersettings.days_for_new %}
                                        <img src="{% static 'main/icons/new-icon.png' %}" class="new_overlay" />
                                    {% endif %}
                                {% endif %}
                                {% if mu.rented %}
                                    {% if usersettings.show_view_icon_rented %}
                                        <img src="{% static 'main/icons/rent-icon.png' %}" class="rented_overlay" />
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                        
                        <div class="card-body" id="e{{mu.id}}Card">
                            {% if usersettings.show_view_title %}
                                <h5 class="card-title">{{mu.movie.title_clean}}</h5>
                            {% endif %}
                            {% if usersettings.show_view_details %}
                                <p class="card-text">{{mu.movie.runtime}} min</p>
                                {% if not mu.movie.disc_count is 1 %}
                                    {% if usersettings.show_view_count_disc %}
                                        <p class="card-text">{{mu.movie.disc_count}} Disks</p>
                                    {% endif %}
                                {% endif %}
                                {% if not mu.movie.movie_count is 1 %}
                                    {% if usersettings.show_view_count_movie %}
                                        <p class="card-text">{{mu.movie.movie_count}} Movies</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if usersettings.show_view_button_details %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#e{{mu.id}}ModalLong">
                                    Details
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="e{{mu.id}}ModalLong" tabindex="-1" role="dialog" aria-labelledby="e{{mu.id}}ModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="e{{mu.id}}ModalLongTitle">{{mu.movie.title_clean}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card border-light mb-3" style="width: 20rem;">
                                    {% if mu.movie.picture_available %}
                                        <img src="{% get_static_prefix %}main/cover/{{mu.movie.ean}}.jpg" class="card-img-top" alt="Picture of the cover", style="width: 10rem;">
                                    {% else %}
                                        <img src="{% get_static_prefix %}main/cover/dummy.jpg" class="card-img-top" alt="Picture of the cover", style="width: 10rem;">
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{mu.movie.format}}<br>
                                            {{mu.movie.disc_count}} Disks<br>
                                            {{mu.movie.movie_count}} Movies<br>
                                            {% if not mu.movie.season_count is 0 %}
                                                {{mu.movie.season_count}} Seasons<br>
                                            {% endif %}
                                            {% if not mu.movie.episode_count is 0 %}
                                                {{mu.movie.episode_count}} Seasons<br>
                                            {% endif %}
                                            Runtime: {{mu.movie.runtime}} min<br>
                                            Release: {{mu.movie.release_year}}<br>
                                            FSK: {{mu.movie.fsk}}<br>
                                            <br>
                                            {% if mu.price != 0.00 %}
                                                Price: {{mu.price}} {{usersettings.price_unit}}<br>
                                            {% endif %}
                                            Added: {{mu.date_added}}<br>
                                            <br>
                                            {% if mu.rented %}
                                                {% if mu.rented_to %}
                                                    Rented to {{mu.rented_to}}<br><br>
                                                {% else %}
                                                    Rented<br><br>
                                                {% endif %}
                                            {% endif %}

                                            EAN: {{mu.movie.ean}}<br>
                                            ASIN: <a href="https://www.amazon.de/dp/{{mu.movie.asin}}">{{mu.movie.asin}}</a>
                                        </p>
                                    </div>
                                </div>
                                <div>{{mu.movie.content}}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}