{% extends "main/base.html" %}
{% load i18n %}

{% block title %}
{% trans "blucab - View" %}
{% endblock %}

{% block contentTitle %}
    {% if is_user_view %}
        {% if user.is_authenticated %}
            {% trans "View of your cabinet" %}
            {% if usersettings.show_view_button_share %}
                {% if usersettings.view_is_public %}
                    <a href="{% url 'cab_uname' user.username %}" class="btn btn-outline-success" role="button" data-bs-toggle="tooltip" data-placement="top" title="{% trans "Open public view" %}">🔗 {% trans "Share" %}</a>
                {% else %}
                    <a href="{% url 'settings' %}" class="btn btn-outline-secondary" role="button" data-bs-toggle="tooltip" data-placement="top" title="{% trans "Public view is deactivated. Open Settings." %}">🔗 {% trans "Share" %}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% blocktrans with username=usersettings.user.get_username trimmed %}
            Public view of {{ username }}'s cabinet
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row gx-3 gy-3" id="gallery">
            {% for mu in movieuserlist %}
                {% if mu.activated %}
                    <div class="col">
                        <div class="card" style="width: 10rem;">
                            {% load static %}
                            <div class="overlay_div" id="pictureOverlayIcons">
                                <span data-bs-toggle="modal" data-bs-target="#e{{mu.id}}ModalLong">
                                    {% if mu.movie.picture_available %}
                                        <img src="{% get_static_prefix %}main/cover/{{mu.movie.ean}}.jpg" class="card-img-top" class="img-fluid" alt="{% trans "Picture of the cover" %}" data-bs-toggle="tooltip" data-placement="top" title="{{mu.movie.title_clean}}">
                                    {% else %}
                                        <img src="{% get_static_prefix %}main/dummy.jpg" class="card-img-top" alt="{% trans "Cover dummy" %}" class="img-fluid" data-bs-toggle="tooltip" data-placement="top" title="{{mu.movie.title_clean}}">
                                    {% endif %}

                                    {% if usersettings.show_view_icon_new %}
                                        {% load days_since %}
                                        {% if mu.date_added|days_since <= usersettings.days_for_new %}
                                            <img src="{% static 'main/icons/new-icon.png' %}" class="new_overlay" />
                                        {% endif %}
                                    {% endif %}
                                    {% if mu.rented %}
                                        {% if usersettings.show_view_icon_rented %}
                                            <img src="{% static 'main/icons/rent-icon.png' %}" class="rented_overlay" />
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </div>
                            
                            {% if show_card_body %}
                                <div class="card-body" id="e{{mu.id}}Card">
                                    {% if is_user_view %}
                                        {% if usersettings.show_view_title %}
                                            <h5 class="card-title">{{mu.movie.title_clean}}</h5>
                                        {% endif %}
                                    {% else %}
                                        {% if show_view_title %}
                                            <h5 class="card-title">{{mu.movie.title_clean}}</h5>
                                        {% endif %}
                                    {% endif %}

                                    {% if is_user_view %}
                                        {% if usersettings.show_view_details %}
                                            <p class="card-text">{{mu.movie.runtime}} min</p>
                                            {% if not mu.movie.disc_count is 1 %}
                                                {% if usersettings.show_view_count_disc %}
                                                    <p class="card-text">
                                                        {% blocktrans with disc_count=mu.movie.disc_count trimmed %}
                                                            {{ disc_count }} Disks
                                                        {% endblocktrans %}
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                            {% if not mu.movie.movie_count is 1 %}
                                                {% if usersettings.show_view_count_movie %}
                                                    <p class="card-text">
                                                        {% blocktrans with movie_count=mu.movie.movie_count trimmed %}
                                                            {{ movie_count }} Movies
                                                        {% endblocktrans %}
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if usersettings.show_view_button_details %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#e{{mu.id}}ModalLong">
                                                {% trans "Details" %}
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Modal - Popup with details -->
                    <div class="modal fade" id="e{{mu.id}}ModalLong" tabindex="-1" role="dialog" aria-labelledby="e{{mu.id}}ModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="e{{mu.id}}ModalLongTitle">{{mu.movie.title_clean}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card border-light mb-3" style="width: 20rem;">
                                        {% if mu.movie.picture_available %}
                                            <img src="{% get_static_prefix %}main/cover/{{mu.movie.ean}}.jpg" class="card-img-top" alt="{% trans "Picture of the cover" %}", style="width: 10rem;">
                                        {% else %}
                                            <img src="{% get_static_prefix %}main/dummy.jpg" class="card-img-top" alt="{% trans "Picture of the cover" %}", style="width: 10rem;">
                                        {% endif %}
                                        <div class="card-body">
                                            <p class="card-text">
                                                {{mu.movie.format}}
                                                {% if mu.movie.is_bluray_uhd %}
                                                    {% trans "UHD" %}
                                                {% endif %}
                                                <br>
                                                
                                                {% if mu.movie.disc_count is 1 %}
                                                    {% blocktrans with disc_count=mu.movie.disc_count trimmed %}
                                                        {{ disc_count }} Disc
                                                    {% endblocktrans %}
                                                    <br>
                                                {% else %}
                                                    {% blocktrans with disc_count=mu.movie.disc_count trimmed %}
                                                        {{ disc_count }} Discs
                                                    {% endblocktrans %}
                                                    <br>
                                                {% endif %}

                                                {% if mu.movie.movie_count is 1 %}
                                                    {% blocktrans with movie_count=mu.movie.movie_count trimmed %}
                                                        {{ movie_count }} Movie
                                                    {% endblocktrans %}
                                                    <br>
                                                {% else %}
                                                    {% blocktrans with movie_count=mu.movie.movie_count trimmed %}
                                                        {{ movie_count }} Movies
                                                    {% endblocktrans %}
                                                    <br>
                                                {% endif %}

                                                {% if not mu.movie.season_count is 0 %}
                                                    {% blocktrans with season_count=mu.movie.season_count trimmed %}
                                                        {{ season_count }} Seasons
                                                    {% endblocktrans %}
                                                    <br>
                                                {% endif %}

                                                {% if not mu.movie.episode_count is 0 %}
                                                    {% blocktrans with episode_count=mu.movie.episode_count trimmed %}
                                                        {{ episode_count }} Episodes
                                                    {% endblocktrans %}
                                                    <br>
                                                {% endif %}
                                                
                                                {% blocktrans with runtime=mu.movie.runtime trimmed %}
                                                    Runtime: {{runtime}} min
                                                {% endblocktrans %}
                                                <br>
                                                {% blocktrans with release_year=mu.movie.release_year trimmed %}
                                                    Release: {{release_year}}
                                                {% endblocktrans %}
                                                <br>
                                                {% blocktrans with fsk=mu.movie.fsk trimmed %}
                                                    FSK: {{fsk}}
                                                {% endblocktrans %}
                                                <br>
                                                {% if mu.movie.is_bluray_uhd %}
                                                    {% trans "UHD: Yes" %}
                                                    <br>
                                                {% endif %}
                                                <br>
                                                {% if is_user_view %}
                                                    {% blocktrans with date_added=mu.date_added trimmed %}
                                                        Added: {{date_added}}
                                                    {% endblocktrans %}
                                                    <br>
                                                    {% if mu.rating != 0 %}
                                                        {% blocktrans with rating=mu.rating trimmed %}
                                                            Rating: {{rating}}
                                                        {% endblocktrans %}
                                                        <br>
                                                    {% endif %}
                                                    {% if mu.price != 0.00 %}
                                                        {% blocktrans with price=mu.price price_unit=usersettings.price_unit trimmed %}
                                                            Price: {{price}} {{price_unit}}
                                                        {% endblocktrans %}
                                                        <br>
                                                    {% endif %}
                                                    {% if mu.cabinet != None %}
                                                        {% blocktrans with cabinet=mu.cabinet trimmed %}
                                                            Cabinet: {{cabinet}}
                                                        {% endblocktrans %}
                                                        <br>
                                                    {% endif %}
                                                    {% if mu.viewed %}
                                                        {% trans "Already viewed" %}
                                                        <br>
                                                    {% endif %}
                                                    {% if mu.archived %}
                                                        {% trans "Movie is archived" %}
                                                        <br>
                                                    {% endif %}
                                                    {% if mu.rented %}
                                                        {% if mu.rented_to %}
                                                            {% blocktrans with rented_to=mu.rented_to trimmed %}
                                                                Rented to {{rented_to}}
                                                            {% endblocktrans %}
                                                            <br>
                                                        {% else %}
                                                            {% trans "Rented" %}
                                                            <br>
                                                        {% endif %}
                                                        <br>
                                                    {% endif %}
                                                {% endif %}
                                                EAN: {{mu.movie.ean}}<br>
                                                ASIN: <a href="https://www.amazon.de/dp/{{mu.movie.asin}}" target="_blank">{{mu.movie.asin}}</a><br>
                                                {% if mu.movie.imdb_id != None %}
                                                IMDb: <a href="https://www.imdb.com/de/title/{{mu.movie.imdb_id}}" target="_blank">{{mu.movie.imdb_id}}</a><br>
                                                {% endif %}
                                                {% if is_user_view %}
                                                    {% if mu.url_custom != None %}
                                                        {% trans "Custom URL" %}: <a href="{{mu.url_custom}}" target="_blank">{{mu.url_name}}</a>
                                                    {% endif %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div>{{mu.movie.content}}</div>
                                </div>
                                <div class="modal-footer d-flex {% if user.is_superuser or is_user_view %}justify-content-between{% else %}justify-content-end{% endif %}">
                                    {% if user.is_superuser %}
                                        <a href="{% url 'movie_settings' mu.movie.id %}?next={{ request.path }}" class="btn btn-outline-warning" role="button">
                                            {% trans "Movie" %}
                                        </a>
                                    {% endif %}
                                    {% if is_user_view %}
                                        <a href="{% url 'user_movie_settings' mu.movie.id%}?next={{ request.path }}" class="btn btn-outline-success" role="button">
                                            {% trans "Edit" %}
                                        </a>
                                    {% endif %}
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        {% trans "Close" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="container-fluid py-2">
        <form id="filterForm" method="GET" action="." class="d-flex flex-wrap justify-content-center align-items-center gap-2 m-0">
            
            <div class="d-flex flex-wrap gap-1 me-2 align-items-center">
                <input type="checkbox" class="btn-check" name="filter_bd" id="btn-check-bd" value="1" onchange="this.form.submit()" {% if filter_bd %}checked{% endif %}>
                <label class="btn btn-outline-info btn-sm" for="btn-check-bd">{% trans "Blu-Rays:" %} {{count_bd}}</label>

                <input type="checkbox" class="btn-check" name="filter_bd_uhd" id="btn-check-bd-uhd" value="1" onchange="this.form.submit()" {% if filter_bd_uhd %}checked{% endif %}>
                <label class="btn btn-outline-info btn-sm" for="btn-check-bd-uhd">{% trans "UHD:" %} {{count_bd_uhd}}</label>

                <input type="checkbox" class="btn-check" name="filter_dvd" id="btn-check-dvd" value="1" onchange="this.form.submit()" {% if filter_dvd %}checked{% endif %}>
                <label class="btn btn-outline-warning btn-sm" for="btn-check-dvd">{% trans "DVDs:" %} {{count_dvd}}</label>
                
                <input type="checkbox" class="btn-check" name="filter_rented" id="btn-check-rented" value="1" onchange="this.form.submit()" {% if filter_rented %}checked{% endif %}>
                <label class="btn btn-outline-danger btn-sm" for="btn-check-rented">{% trans "Rented:" %} {{count_rented}}</label>
                
                <span class="btn border-secondary text-light btn-sm pe-none ms-1">{% trans "Total:" %} {{count_total}}</span>
            </div>

            <div class="input-group input-group-sm" style="max-width: 180px;">
                <span class="input-group-text bg-dark text-light border-secondary"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control bg-dark text-light border-secondary" name="search" placeholder="{% trans 'Suchen...' %}" value="{{ search_query }}" oninput="debounceSubmit()">
            </div>

            {% if is_user_view %}
                <div>
                    <select class="form-select form-select-sm bg-dark text-light border-secondary" name="cabinet" onchange="this.form.submit()" style="width: auto;">
                        <option value="">{% trans 'All Cabinets' %}</option>
                        {% for cabinet in cabinets %}
                            <option value="{{ cabinet.id }}" {% if selected_cabinet == cabinet.id|stringformat:"i" %}selected{% endif %}>
                                {{ cabinet.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            
            <div>
                <select class="form-select form-select-sm bg-dark text-light border-secondary" name="sort" onchange="this.form.submit()" style="width: auto;">
                    <option value="" {% if not sort_by %}selected{% endif %}>{% trans 'Default sorting' %}</option>
                    <option value="title_asc" {% if sort_by == 'title_asc' %}selected{% endif %}>{% trans 'Title (A-Z)' %}</option>
                    <option value="title_desc" {% if sort_by == 'title_desc' %}selected{% endif %}>{% trans 'Title (Z-A)' %}</option>
                    <option value="rating_desc" {% if sort_by == 'rating_desc' %}selected{% endif %}>{% trans 'Rating (Highest)' %}</option>
                    <option value="rating_asc" {% if sort_by == 'rating_asc' %}selected{% endif %}>{% trans 'Rating (Lowest)' %}</option>
                    <option value="date_desc" {% if sort_by == 'date_desc' %}selected{% endif %}>{% trans 'Date (Newest)' %}</option>
                    <option value="date_asc" {% if sort_by == 'date_asc' %}selected{% endif %}>{% trans 'Date (Oldest)' %}</option>
                    <option value="runtime_asc" {% if sort_by == 'runtime_asc' %}selected{% endif %}>{% trans 'Runtime (Shortest)' %}</option>
                    <option value="runtime_desc" {% if sort_by == 'runtime_desc' %}selected{% endif %}>{% trans 'Runtime (Longest)' %}</option>
                </select>
            </div>
            
            <div>
                {% if is_user_view %}
                    <a href="{% url 'view' %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="{% trans 'Reset filter' %}"><i class="bi bi-x-lg"></i></a>
                {% else %}
                    <a href="{% url 'cab_uname' uname %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="{% trans 'Reset filter' %}"><i class="bi bi-x-lg"></i></a>
                {% endif %}
            </div>

        </form>
    </div>

    <script>
        let timeout = null;
        function debounceSubmit() {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                document.getElementById('filterForm').submit();
            }, 800);
        }
    </script>
{% endblock %}
