{% extends "main/base.html" %}
{% load i18n %}

{% block title %}
{% trans "blucab - Change your email" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>{% trans "Email Change" %}</h1>

    <div class="card" style="max-width: 40rem;">
        <div class="card-body">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">{% trans "Change email" %}</button>
            </form>
        </div>
    </div>
    <br>
    <a href="{% url 'settings' %}" class="btn btn-light" role="button">{% trans "Back to Settings" %}</a>
{% endblock %}
