{% extends "main/base.html" %}
{% load i18n %}

{% block title %}
{% trans "blucab - User deletion" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>{% trans "Are you sure?" %}</h1>
    <p>
      {% blocktrans with username=user.get_username trimmed %}
        Everything assigned to your account {{ username }} will be deleted permanently!
      {% endblocktrans %}
    </p>

    <form method="POST">
        {% csrf_token %}
        <p>{% trans "Are you sure that you want to delete the account?" %}</p>
        <div>
          <button type="submit" class="btn btn-danger">{% trans "Yes, Delete" %}</button>
          <a href="/user/settings" class="btn btn-success" role="button">{% trans "Back to Settings" %}</a>
        </div>
      </form>
    
{% endblock %}
