# https://versionlog.com/django/
Django==5.2
django-filter==25.2
django-crispy-forms==2.5
djangorestframework==3.16.1
django-rest-knox==5.0.2

crispy-bootstrap5==2025.6

markdown==3.10.1
environs==14.5.0

beautifulsoup4==4.14.3
requests==2.32.5
lxml==6.0.2

pillow==12.1.0
