{% load i18n %}
{% trans "Hello" %} {{ user.username }},

{% blocktrans %}
Someone (hopefully you) requested a new password for your blucab account.
{% endblocktrans %}

{% trans "To reset your password, please click the link below:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}
If you didn't request this, you can safely ignore this email. Your password will stay as it is, and we'll just pretend this never happened.
{% endblocktrans %}

{% trans "Best regards," %}
{% trans "Your blucab Team" %}
